# Ignore compiled files, but not directories
client
!client/

server
!server/

# Ignore .vscode folder
.vscode

# Ignore shared and database directories
server/shared/
server/database/

*.db
*.txt
*_onefileversion